<!-- PIE DE PAGINA -->
<footer class="bg-black text-center footer py-4">
    <div class="container">
            <div class="text-white">
                    © 2023 Copyright:
                    <a class="text-white">NATANIELCAZON</a>
                    | TP05
            </div>

            <!-- Redes Sociales -->
            <div class="my-4">
                    <!-- Facebook -->
                    <a class="btn btn-outline-light btn-redondeado m-1" role="button"><i
                                    class="fab fa-facebook-f"></i></a>

                    <!-- Twitter -->
                    <a class="btn btn-outline-light btn-redondeado m-1" role="button"><i
                                    class="fab fa-twitter"></i></a>

                    <!-- Google -->
                    <a class="btn btn-outline-light btn-redondeado m-1" role="button"><i
                                    class="fab fa-google"></i></a>

                    <!-- Instagram -->
                    <a class="btn btn-outline-light btn-redondeado m-1" role="button"><i
                                    class="fab fa-instagram"></i></a>

                    <!-- Linkedin -->
                    <a class="btn btn-outline-light btn-redondeado m-1" role="button"><i
                                    class="fab fa-linkedin-in"></i></a>

                    <!-- Github -->
                    <a class="btn btn-outline-light btn-redondeado m-1" role="button"><i
                                    class="fab fa-github"></i></a>
            </div>
    </div>
</footer>