<div class="my-4 text-end">
    <button type="button" *ngIf="accion == 'new'" class="btn btn-success fw-bold" (click)="volverLista()">Ver
        Listado</button>
</div>

<section class="formularioTicket">
    <!-- FORMULARIO -->
    <form #ticketForm="ngForm">
        <div class="text-center bg-primary rounded text-white mb-3 p-0 py-3">
            <h5 class="m-0">GENERAR TICKET</h5>
        </div>

        <fieldset class="form-group border rounded p-3">
            <legend class="w-auto fw-bold">Formulario</legend>
            
            <p>Campos obligatorios (<span class="text-danger fw-bold">*</span>)</p>
            <hr />

            <!-- Precio -->
            <div class="mb-4">
                <label for="idPrecioTicket" class="form-label">Precio (ARS) (<span class="text-danger fw-bold">*</span>)</label>

                <input type="number" class="form-control bg-light" id="idPrecioTicket" name="precioTicket"
                    [(ngModel)]="ticket.precioTicket" required #precioTicket="ngModel">

                <!-- Validar Precio -->
                <div *ngIf="precioTicket.invalid && (precioTicket.dirty || precioTicket.touched)"
                    class="alert alert-danger">
                    <div *ngIf="precioTicket.errors?.['required']">
                        El precio del ticket es requerido.
                    </div>
                </div>
            </div>

            <!-- Categoria -->
            <div class="mb-4">
                <label for="idCategoriaEspectador" class="form-label">Categoria (<span class="text-danger fw-bold">*</span>)</label>

                <select class="form-select bg-light" id="idCategoriaEspectador" name="categoriaEspectador"
                    [(ngModel)]="ticket.categoriaEspectador" required #categoriaEspectador="ngModel">
                    <option value="e">Extranjero</option>

                    <option value="l" selected>Local</option>
                </select>

                <!-- Validar Categoria -->
                <div *ngIf="categoriaEspectador.invalid && (categoriaEspectador.dirty || categoriaEspectador.touched)"
                    class="alert alert-danger">
                    <div *ngIf="categoriaEspectador.errors?.['required']">
                        La categoria del espectador es requerida.
                    </div>
                </div>
            </div>

            <!-- Espectador -->
            <div class="mb-4">
                <label for="idEspectador" class="form-label">Espectador (<span class="text-danger fw-bold">*</span>)</label>

                <select class="form-select bg-light" name="espectador" id="idEspectador" [(ngModel)]="ticket.espectador"
                    required #espectador="ngModel">
                    <option *ngFor="let e of espectadores" [ngValue]="e">{{e.nombre}} {{e.apellido}}</option>
                </select>

                <!-- Validar Espectador -->
                <div *ngIf="espectador.invalid && (espectador.dirty || espectador.touched)" class="alert alert-danger">
                    <div *ngIf="espectador.errors?.['required']">
                        El espectador es requerido.
                    </div>
                </div>
            </div>

            <div class="mb-3 text-center">
                <button *ngIf="accion == 'new'" type="submit" class="btn btn-primary fw-bold" (click)="guardarTicket()"
                    [disabled]="ticketForm.invalid">Comprar</button>

                <div *ngIf="accion == 'update'">
                    <button type="submit" class="btn btn-primary fw-bold mx-1" (click)="modificarTicket()"
                        [disabled]="ticketForm.invalid">Modificar</button>

                    <button class="btn btn-secondary fw-bold mx-1" (click)="volverLista()">Volver</button>
                </div>
            </div>
        </fieldset>
    </form>
</section>